<div class="container mt-4">
<div class="jumbotron text-white">
  <h1 class="display-4">Welcome to Blog</h1>
  <p class="lead">Create a new articles and share your experience</p>
  <hr class="my-4">
  <%= link_to "Sign up", signup_path, class: "btn btn-primary btn-lg" %>
</div>
</div>
